<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
<body>
 
  <div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">Dashboard</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
       <a href="/profile/">
        <i class='bx bxs-home'></i>
         <span class="links_name">Profile Page</span>
       </a>
       <span class="tooltip">Profile Page</span>
     </li>
     <li>
       <a href="/lecture/">
        <i class='bx bxs-book-open'></i>
        
         <span class="links_name">Lectures</span>
       </a>
       <span class="tooltip">Lectures</span>
     </li>
     <li>
       <a href="/test/">
        <i class='bx bx-question-mark'></i>
         <span class="links_name">Tests</span>
       </a>
       <span class="tooltip">Tests</span>
     </li>
     <!--<li>
       <a href="#">
        <i class='bx bxs-report'></i>
         <span class="links_name">Progress Report</span>
       </a>
       <span class="tooltip">Progress resport</span>
     </li>-->
     <li>
       <a href="/forum/">
        <i class='bx bxs-comment-detail' ></i>
         <span class="links_name">Forum</span>
       </a>
       <span class="tooltip">Forum</span>
     </li>
     <li>
       <a href="/news/">
        <i class='bx bx-chat' ></i>
         <span class="links_name">Announcement</span>
       </a>
       <span class="tooltip">Announcement</span>
     </li>
     <li>
       <a href="/logout/">
        <i class='bx bx-exit'></i>
         <span class="links_name">Logout</span>
       </a>
       <span class="tooltip">Logout</span>
     </li>
     
    </ul>
  </div>


  
        <!-- Student profile in home page with photo and details -->
  <div class="main">
    {% if error_edit %}
    <script>alert("The was some error. Retry again")</script>
    <!--<meta http-equiv="refresh" content="0; url='/profile/edit/'">-->
    {% endif %}
   <!-- edit  Student   profile   -->
<div class="edit-profile-main">
    <p style="text-align: center" ><span style="color:red; font-weight:bold" >Important: </span>These details are allowed to be edited only <span style="font-weight: bold;">once</span>.</p>
    <p>In order to change password, please go to this link, <a href="/forgot/">Change</a></p>
    <section class="edit-profile-section"> 
        <form action="/profile/edit/status/" enctype="multipart/form-data" method="post">{%csrf_token%}
      <table class="edit-details-table" >
          
          <tr style= " text-align: left;">
            

            <th style="width:30%"><a  class="edit-profile-bot"><label for="fileField">
              {% load static %}
              <img src="{{MEDIA_URL}}{{profile_data.user_profile_photo}}" alt="Profile" height="100px" width="100px"></label>
  
              <input name="imagefile" type="file" id="fileField"  accept="image/*" > </th>
            <th>
                
              <table>
                  <tr>
                  <th class="profile-data" style="width:50%"><a >Name : </a></th>
                  <th class= "profile-data student-name" style="width:30%"><input name="edit_name" type="text" id="name" placeholder="harry potter"></th>
                  </tr>
                  <tr>
                      <th class="profile-data" style="width:50%">Registration Number :</th>
                      <th class="profile-data student-roll-number" style="width:10%"><input  name="edit_r_number" type="number" id="rollnumber" placeholder="123456" maxlength="6" minlength="6"></th>
                      </tr>
                  <tr>
                      <th class="profile-data" style="width:30%">School :</th>
                      <th class="profile-data student-school" style="width:10%"><input name="edit_school" type="text" id="school" placeholder="IIT KANPUR"></th>
                      </tr>
                            <th class="profile-data" style="width:50%">Contact :</th>
                            <th class="profile-data student-roll-number" style="width:10%"><input name="edit_contact" type="number" id="phone" placeholder="9876543210" maxlength="10" minlength="10"></th>
                            </tr>
              </table>
          </tr>
        </table>
        <button id="submit-edit-profile" style="margin-left:22.1%; padding:0.5em 2em; border-radius:10px; margin-top:1em;">Submit</button>
    </form>
    </section>
  </div>
  </div>



  {% load static %}
  <script src="{% static 'homepage.js' %}"></script>
</body>
</html>
