<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
<body>

  <div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">Dashboard</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
       <a href="/profile/">
        <i class='bx bxs-home'></i>
         <span class="links_name">Profile Page</span>
       </a>
       <span class="tooltip">Profile Page</span>
     </li>
     <li>
       <a href="/lecture/">
        <i class='bx bxs-book-open'></i>
        
         <span class="links_name">Lectures</span>
       </a>
       <span class="tooltip">Lectures</span>
     </li>
     <li>
       <a href="/test/">
        <i class='bx bx-question-mark'></i>
         <span class="links_name">Tests</span>
       </a>
       <span class="tooltip">Tests</span>
     </li>
     <!--<li>
       <a href="#">
        <i class='bx bxs-report'></i>
         <span class="links_name">Progress Report</span>
       </a>
       <span class="tooltip">Progress resport</span>
     </li>-->
     <li>
       <a href="/forum/">
        <i class='bx bxs-comment-detail' ></i>
         <span class="links_name">Forum</span>
       </a>
       <span class="tooltip">Forum</span>
     </li>
     <li>
       <a href="/news/">
        <i class='bx bx-chat' ></i>
         <span class="links_name">Announcement</span>
       </a>
       <span class="tooltip">Announcement</span>
     </li>
     <li>
       <a href="/exit/">
        <i class='bx bx-exit'></i>
         <span class="links_name">Logout</span>
       </a>
       <span class="tooltip">Logout</span>
     </li>
     
    </ul>
  </div>


  <div class="main">
   <!-- edit  Student   profile   -->
<div class="edit-profile-main">
    <p style="text-align: center" ><span style="color:red; font-weight:bold" >Important: </span>These details are allowed to be edited only <span style="font-weight: bold;">once</span>.<br>If you want to still apply for edit profile, <a href="/contact/">contact us</a>.</p>
    <section class="edit-profile-section"> 
      <table class="edit-details-table" >
          <tr style= " text-align: left;">
            <th style="width:30%"><a  class="edit-profile-bot"><label for="fileField">
              <img src="{{MEDIA_URL}}{{preview_profile.user_profile_photo}}" alt="Profile" height="100px" width="100px"></label>
            <th>
                
              <table>
                  <tr>
                  <th class="profile-data" style="width:50%"><a >Name : </a></th>
                  <th class= "profile-data student-name" style="width:30%">{{preview_user.first_name}} {{preview_user.last_name}}</th>
                  </tr>
                  <tr>
                      {% if user_category == "STUDENT" %}
                      <th class="profile-data" style="width:50%">Roll Number :</th>
                      {% endif %}
                      {% if user_category == "TEACHER" %}
                      <th class="profile-data" style="width:50%">Registration Number :</th>
                      {% endif %}
                      <th class="profile-data student-roll-number" style="width:10%">{{preview_user.r_number}}</th>
                      </tr>
                  <tr>
                  <th class="profile-data" style="width:50%">Class :</th>
                  <th class="profile-data student-class" style="width:10%">{{preview_user.user_class}}</th>
                  </tr>
                  <tr>
                    <th class="profile-data" style="width:50%">Section :</th>
                    <th class="profile-data student-class" style="width:10%">{{preview_user.user_section}}</th>
                    </tr>
                  <tr>
                      <th class="profile-data" style="width:30%">School :</th>
                      <th class="profile-data student-school" style="width:10%">{{preview_user.school_name}}</th>
                      </tr>
                      {% if user_category == "STUDENT" %}
                      <tr>
                        <th class="profile-data" style="width:50%"><a >Fathers Name : </a></th>
                        <th class= "profile-data student-name" style="width:30%">{{preview_profile.father_name}}</th>
                        </tr>
                        <tr>
                          <th class="profile-data" style="width:50%"><a >Mothers Name : </a></th>
                          <th class= "profile-data student-name" style="width:30%">{{preview_profile.mother_name}}</th>
                          </tr>
                     {% endif %}
                        <tr>
                            <th class="profile-data" style="width:50%">Contact :</th>
                            <th class="profile-data student-roll-number" style="width:10%">{{preview_user.user_contact}}</th>
                            </tr>
              </table>
          </tr>
        </table>
    </section>
  </div>
  </div>



  {% load static %}
  <script src="{% static 'homepage.js' %}"></script>
</body>
</html>
