<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'test.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'test1.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'test_each_page.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/343524fab9.js" crossorigin="anonymous"></script>
    
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">Dashboard</div>
        <i class='bx bx-menu' id="btn" ></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/profile/">
          <i class='bx bxs-home'></i>
          <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="/lecture/">
            <i class='bx bxs-book-open'></i>
            <span class="links_name">Lectures</span>
          </a>
          <span class="tooltip">Lectures</span>
        </li>
        <li>
          <a href="/test/">
          <i class='bx bx-question-mark'></i>
          <span class="links_name">Tests</span>
          </a>
          <span class="tooltip">Tests</span>
        </li>
        <li>
          <a href="/forum/">
          <i class='bx bxs-comment-detail' ></i>
          <span class="links_name">Forum</span>
          </a>
          <span class="tooltip">Forum</span>
        </li>
        <li>
          <a href="/news/">
          <i class='bx bx-chat' ></i>
          <span class="links_name">Announcement</span>
          </a>
          <span class="tooltip">Announcement</span>
        </li>
        <li>
          <a href="/logout/">
          <i class='bx bx-exit'></i>
          <span class="links_name">Logout</span>
          </a>
          <span class="tooltip">Logout</span>
        </li>
      </ul>
  </div>
  <div class="main">
    <div class="subject">
      <h1 class="sub" style='font: "Open Sans"; font-weight: bold; overflow-wrap: break-word; color: black; padding: 10px; text-align: center;'>Student Lectures </h1>
      <h3 class="sub boxtext" style='background: rgba(255, 255, 255, 0.375);
      box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.2);
      border-radius: 2rem;font: "Open Sans"; font-weight: bold; overflow-wrap: break-word; color: black; padding: 10px;'>Select Subject</h3>
      <ul class="nav-links">
        {% for k, course_id in all_course_list.items %}
        {% for i, s_c_value in subject_code.items %}
        {% if s_c_value.0 == course_id|slice:"0:2" %}
        <li><a style='font: "Open Sans"; font-weight: bold; overflow-wrap: break-word; color:black; padding: 10px;' class="course" id="course-{{i|add:'1'}}">{{ s_c_value.1 }}</a></li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <div class="active">     
        </div>
    </ul>
    </div>
    {% for e , each_course_id in all_course_list.items %}
      {% for l, lecture_of_courses in lecture_all_list.items  %}
        {% if l == e %}
          <div class="course-content">
            
            <div class="course-{{e|add:'1'}}">
              {% for lecture_each in lecture_of_courses%}
              <div class="pending-content">
                  <details class="style7">
                  <summary><span style="overflow-wrap: break-word; background: rgba(255, 255, 255, 0.375);
                    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.2);
                    border-radius: 2rem;font-size:15px;" class="moon-new">{{lecture_each.lecture_title}}</span><span style="align-items:right;font-size:20px;" class="moon-full test-date"><strong>{{lecture_each.lecture_datetime.day}}/{{lecture_each.lecture_datetime.month}}/{{lecture_each.lecture_datetime.year}} {{lecture_each.lecture_datetime.hour}}:{%if lecture_each.lecture_datetime.minute < 10 %}0{%endif%}{{lecture_each.lecture_datetime.minute}}</strong></span></summary>
                  <div class="content">
                      <form action="/lecture/view/{{lecture_each.lecture_unique_id}}" method="get"><button type="submit" style="height: 30px; font-size: 1em; text-align: center;" class="btn btn-outline-secondary pending-course-details" value="View Test">View Lecture</button></form>
                  </div>
                    </details>
                  </div>
              {%endfor%}
            </div>
          </div>
        {%endif%}
      {% endfor %}
    {% endfor %}
  </div>
  {% load static %}
  <script src="{% static 'test.js' %}"></script>
  {% load static %}
  <script src="{% static 'test1.js' %}"></script>
</body>
</html>
