<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | digiSchool</title>
    <script src="formValidation.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e24c3cedee.js" crossorigin="anonymous"></script>
    <style>
        .logo {
            border-radius: 60%;
            border: 4px solid;
            width: 80px;
            height: auto;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .tophead {
            margin-top: 2px;
            background-image: url("bg_logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row tophead">
            <div class="col-sm-10">
                <img class="logo" src="logo_cright.jpg" alt="digiSchool">
            </div>
            <div class="col-lg-1">
                <br>
                <a href="/" style="font-size:large; font-family: 'Trebuchet MS', sans-serif;">Home</a>
            </div>
            <div class="col-lg-1">
                <br>
                <a href="/contact/" style="font-size:large; font-family: 'Trebuchet MS', sans-serif;">Contact Us</a>
            </div>
        </div>
        <br>
    </div>
    <p style="font-family: 'Trebuchet MS', sans-serif; text-align: center">The user is successfully created. You can now <a href="/login/" style="font-family: 'Trebuchet MS', sans-serif;">login</a> to your account.</p>
    
</body>
</html>